/* -----------------------
Base styles
------------------------*/

body
{
    height:100vh;
    width:100vw;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #eee;
    background-attachment: fixed;
	font: 1em/1.2 "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

.container
{
	max-width: 90em;
	margin: 0 auto;
    padding-top:10%;
    padding-bottom:10%;
}

.content 
{ 
  
    background-attachment: fixed;
    background-size:100%;
    padding: 1em 1.25em;
    height:100%;
    
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 10px solid rgba(0,0,0,0.5);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
   
}

.footer
{
	padding: 1em 1.25em;
    height:10vh;
}


/* -----------------------
Single styles
------------------------*/

.img-responsive 
{ 
    max-width: 100%;
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;   
    
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none; 
    
    image-rendering: pixelated;
}

.filter-drop-shadow {
		-webkit-filter: drop-shadow(0px 0px 5px rgba(255, 242, 204, 0.8));
        
}

/* -----------------------
Visualizer Styles
------------------------*/



/* -----------------------
Wide styles
------------------------*/

@media (min-width: 42em)
{
	.header { padding: 1.5em 3em; }
	.nav-bar { padding: 1em 3em; }
	.content { padding: 2em 3em; }
	.footer { padding: 2em 3em; }
	
	.nav li
	{
		display: inline;
		margin: 0 1em 0 0;
	}
	
	.nav a
	{
		display: inline;
		padding: 0;
		border-bottom: 0;
	}
}
